body {
    background-image: url("cricIndia.webp");
    background-size: cover;
    font-family:  BlinkMacSystemFont; 
    font-weight: bold;
    text-align: center;
}
.Countdown{
    width: 500px;
    margin: 50px auto 0px auto;
    background-color: lightskyblue;
    border-radius: 10px;
    border-bottom: 5px solid green;
}
h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: green;
}

#save-btn {
    background: blueviolet;
}

